.bottom-bar {
  display: none;
  list-style: none;
  overflow: hidden;
  background-color: #fcfcfc;
  position: fixed;
  bottom: 0;
  padding:0;
  margin-bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.32);
}
/* Style the buttons inside the bottombar */

.bottom-bar li {
  background-color: var(--white, #ffffff);
  float: left;
  padding: 8px 0px 8px 0px;
  transition: 0.3s;
  font-size: 8px;
  width: 25%;
  text-align: center;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.bottom-bar li > a > svg {
  stroke-width: 2;
  stroke: var(--black, #111111);
}

.bottom-bar li > a {
  color: var(--black, #111111);
  text-decoration: none;
  font-weight: bold;
}

.bottom-bar > li > a .active,
a:hover {
  color: var(--secondary-color, #F87060);
}

.bottom-bar > li > a .active,
a:hover > svg {
  stroke: var(--secondary-color, #F87060);
}

@media only screen and (max-width: 500px) {
  .bottom-bar {
    display: initial;
  }
}

.active span{
  color: var(--secondary-color);
}

.active .feather{
  stroke: var(--secondary-color);
}
