@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");

/* https://hbr.org/2015/06/you-need-an-innovation-strategy */
/* http://www.elirousso.com/ */
:root {
  --color: #8bbf1a;

  --white: #ffffff;
  --anti-flash-white: #f2f2f2;
  --light-grey: #d4d4d4;
  --grey: #999999;
  --black: #111111;
  --red: #dd084f;
  --green: #33c67d;
  --blue: #2176ff;
  --yellow: #e5d200;
  --orange: #ff7423;

  --primary-color: var(--black, #111111);
  --secondary-color: var(--color);
}

.noscroll {
  overflow: hidden;
}

.branch {
  color: var(--color);
}

::-moz-selection {
  background: var(--secondary-color, #f87060);
  color: var(--white, #ffffff);
}
::selection {
  background: var(--secondary-color, #f87060);
  color: var(--white, #ffffff);
}

/* Microsoft browsers related css ignore the errors */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10 & IE11 CSS styles go here */
  ::selection {
    background: #f87060;
    color: #ffffff;
  }
}

@supports (-ms-ime-align: auto) {
  /* Microsoft EdgeV13&14 CSS styles go here */
  ::selection {
    background: #f87060;
    color: #ffffff;
  }
}

@supports (-ms-accelerator: true) {
  /* Microsoft EdgeV13 CSS styles go here */
  ::selection {
    background: var(--secondary-color, #f87060);
    color: var(--white, #ffffff);
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: var(--anti-flash-white);
  color: #111111;
 
}

.page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page h1{
  color: var(--color);
}

.home {
  min-height: 100vh;
  background: var(--secondary-color);
  padding-top: 20vh;
  color: #f2f2f2;
}

.home h1 {
  text-align: center;
}

.backLink {
  color: var(--white, #ffffff);
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  background-color: var(--primary-color, #111111);
  padding: 12px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0px 39px 56px -10px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 39px 56px -10px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 39px 25pxpx -10px rgba(0, 0, 0, 0.52);
}

.close {
  position: fixed;
  float: right;
  padding: 6px 12px;
  transform: translateY(-6px);
  -webkit-box-shadow: 0px 15px 63px -13px rgba(31, 31, 31, 0.25);
  -moz-box-shadow: 0px 15px 63px -13px rgba(31, 31, 31, 0.25);
  box-shadow: 0px 15px 63px -13px rgba(31, 31, 31, 0.25);
}

.backLink:hover {
  color: var(--secondary-color);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 500px) {
  .main {
    margin-top: 20px;
  }
}

.shadow {
  -webkit-box-shadow: 0px -5px 28px 0px rgba(130, 130, 130, 0.65);
  -moz-box-shadow: 0px -5px 28px 0px rgba(130, 130, 130, 0.65);
  box-shadow: 0px -5px 28px 0px rgba(130, 130, 130, 0.65);
}

.transition {
  transition: 0.0002s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.0002s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.0002s;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition: 0.0002s;
  -ms-transition-timing-function: ease-in-out;
}

.containery {
  z-index: 2;
  min-height: 0px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: flex-start;
  margin-bottom: 12em;
}

.containery:after {
  display: block;
  content: " invisible node " flex(999 999 auto);
}

.item {
  flex: 0 0 auto;
  margin: 30px;
}