.card {
    transition: 0.3s;
    width: 300px;
    overflow: hidden;
    text-decoration: none;
    color: var(--primary-color, #111111);
    margin: 4px;
    float: left;
    background: #fff;
    border: 2px solid transparent;
  }
  
  .card:hover {
    border: 2px solid var(--secondary-color);
    -webkit-box-shadow: 0px 18px 54px -17px rgba(33, 118, 255, 0.83);
    -moz-box-shadow: 0px 18px 54px -17px rgba(33, 118, 255, 0.83);
    box-shadow: 0px 18px 54px -17px rgba(33, 118, 255, 0.83);
  }
  
  .card:hover > .price-tag {
    background: var(--secondary-color);
    -webkit-box-shadow: 0px 10px 54px -5px rgba(33,118,255,0.83);
  -moz-box-shadow: 0px 10px 54px -5px rgba(33,118,255,0.83);
  box-shadow: 0px 10px 54px -5px rgba(33,118,255,0.83);
  }
  
  .card img {
    height: 60px;
    width: 60px;
    margin-bottom: -8px;
  }
  
  .card .container {
    padding: 4px 4px;
    max-height: 100px;
    min-height: 100px;
  }
  
  .card > .container > ul {
    margin-right: auto;
    margin-left: 32px;
    list-style: none;
    line-height: 1;
    margin-top: 6px;
  }
  
  .card > .container > h4,
  h5 {
    margin: 0px;
    line-height: 0;
  }
  
  .card h4 {
    font-size: 16px;
  }
  
  .card h5 {
    font-size: 14px;
    color: var(--grey);
    font-weight: 500;
  }
  
  .card .price-tag {
    display: inline-block;
    transition: 0.3s;
    padding: 4px 8px;
    font-size: 14px;
    background-color: var(--black);
    color: #fff;
    font-weight: 700;
    position: absolute;
    transform: translate(8px, -12px);
  }
  
  /* .card:hover .price-tag{
    background:var(--secondary-color);
  } */
  
  .imageContainer {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    transform: translate(8px, 30px);
    background: var(--secondary-color, #f87060);
  }
  
  @media only screen and (max-width: 350px) {
    .card {
      width: 280px;
    }
  
    .card img {
      height: 60px;
      width: 60px;
      margin-bottom: -8px;
    }
  
    .imageContainer {
      width: 280;
      height: 280px;
    }
  }
  