.error {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px
}

.error h1 {
  font-size: 85px;
  color:var(--secondary-color);
}

.error h3 {
  font-size: 20px;
  text-align: left;
  padding: 30px;
}

.error .location{
  color:var(--secondary-color);
  font-weight: bold;
}

.error p {
  font-size:16px;
  
}

.error a {
  color: var(--secondary-color, #F87060);
}