@import url('https://fonts.googleapis.com/css?family=Montserrat:800');

.modal {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 24px 20px;
  width: 48%;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

#modal-content-animation {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count:1;
  -moz-animation-duration: 0.5s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count:1;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count:1;
}

.modal-content p {
  line-height: 1.4;
  word-spacing: 3px;
  font-size: 16px;
  color: #111111;
}

.modal-content li{
  padding:16px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  list-style: none;
  font-weight: bolder;
}

.modal-content li span{
  color:#83A637;
}

.modal-content-head{
  font-weight:bolder;
  padding: 20px 0px;
  color:black;
  text-align: left;
}

.modal-content img {
  width: 100%;
}

@media (max-width: 800px) {
  .modal-content {
    width: 80%;
    margin-bottom: 5vh;
  }
}

@media (max-width: 500px) {
  .modal-content {
    margin-top: 20px;
    width: 85%;
    margin-bottom: 5vh;
  }
}
